<div ui-content-for="title" ng-init="show_myoffs(login.username, login.token)">
    <span>تخفیفات من</span>
    <div class="pull-left" ng-if="myoffs.loading"><i class="fa fa-refresh fa-spin"></i></div>
    <div class="pull-left" ng-click="show_myoffs(login.username, login.token)" ng-if="!myoffs.loading"><i
            class="fa fa-refresh"></i></div>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <legend>تخفیفات من</legend>
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> تخفیفات دارای وضعیت 'منتشر شده' در لیست تخفیفات
            اپلیکیشن نمایش داده می شود.
        </div>
        <div class="panel panel-default" ng-repeat="item in myoffs.result">
            <div class="panel-heading">
                <h3 class="panel-title">{{item.name}} ({{item.status}})</h3>
            </div>
            <div class="panel-body">
                <div>
                    نمایش از تاریخ {{item.date_from | persianDate:'d MMMM'}}
                    تا {{item.date_to | persianDate:'d MMMM'}}
                    ({{item.status}})
                </div>
                <br>

                <a class="btn btn-default" ng-click="selecttoeditoff(item)" href="#edit-off"><i class="fa fa-edit"></i>
                    ویرایش و تمدید</a>
                <a class="btn btn-primary" ng-click="select_off_delete(item.id)" ui-turn-on="deleteoff">
                    <i class="fa fa-trash"></i> حذف تخفیف</a>
                <a class="btn btn-primary" ng-if="item.image" ng-click="select_image_delete(item.id)" ui-turn-on="deleteimage">
                    <i class="fa fa-trash"></i> حذف عکس</a>
            </div>
        </div>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'pages/delete_off.html'"></div>
    <div ng-include="'pages/delete_image.html'"></div>
</div>
