<div ui-content-for="title">
    <span>تغییر کلمه عبور</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form" ng-submit="change_password(login.username, login.token, password)" ng-if="login.status">
            <fieldset>
                <legend>تغییر کلمه عبور</legend>
                <div class="alert alert-danger" ng-if="changepassword.error">{{changepassword.error}}</div>
                <div class="form-group">
                    <label>کلمه عبور جدید</label>
                    <input type="password" ng-model="password" class="form-control"
                           placeholder="کلمه عبور خود را وارد نمایید" dir="ltr">
                </div>
            </fieldset>
            <hr>
            <div class="alert alert-success" ng-if="changepassword.success">{{changepassword.success}}</div>
            <button class="btn btn-primary btn-block">تغییر</button>
            <div ui-content-for="navbarAction">
                <a class="btn" ng-click="change_password(login.username, login.token, password)">تغییر</a>
            </div>
        </form>
    </div>
</div>
