<div ui-content-for="title">
    <span>تماس با ما</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <legend>تماس با ما</legend>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-phone"></i> تلفن آفگرد</h3>
                </div>
                <div class="panel-body" style="text-align: left">
                    <div class="panel-phone">(+98) 921 213 4707</div>
                    <div class="panel-phone">(+98) 935 413 4707</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> ایمیل آفگرد</h3>
                </div>
                <div class="panel-body" style="text-align: left">
                    <div class="panel-email">admin <i class="fa fa-at"></i> offgard.com</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-users"></i> آفگرد در شبکه های اجتماعی</h3>
                </div>
                <div class="panel-body" style="text-align: left">
                    <a ng-click="open_link('https://www.instagram.com/offgardofficial')" class="btn btn-default btn-block"><i class="fa fa-instagram"></i> اینستاگرام</a>
                    <a ng-click="open_link('http://www.telegram.me/offgardofficial')" class="btn btn-default btn-block"><i class="fa fa-telegram"></i> تلگرام</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-external-link"></i> لینک</h3>
                </div>
                <div class="panel-body">
                    <a ng-click="open_link('http://offgard.com')" class="btn btn-default btn-block">وبسایت</a>
                    <a ng-click="open_link('https://cafebazaar.ir/app/com.armanco.offgard/')" class="btn btn-default btn-block">آفگرد در کافه بازار</a>
                    <a ng-click="open_link('http://api.offgard.com/ads.php')" class="btn btn-default btn-block">تبلیغات در آفگرد</a>
                </div>
            </div>

        </div>
    </div>
</div>